w {
    border: 0px solid blue !important;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

body{
    background-color: black;
}

.grid {
    margin: 0 auto;
    max-width: 1200px;
    width: 100%;
}

.row {
    width: 100%;
    margin-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
}

.col-1 {
    width: 8.33%;
}

.col-2 {
    width: 16.66%;
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.33%;
}

.col-5 {
    width: 41.66%;
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: 58.33%;
}

.col-8 {
    width: 66.66%;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.33%;
}

.col-11 {
    width: 91.66%;
}

.col-12 {
    width: 100%;
}


.top-line{
    background-color:#F27E63;
    background-image: url('../images/neb3.png') ;
    height: 100px;
    padding-top: 50px;
}

#top-title{
    font-family: 'Bree Serif', serif;
    font-size: xx-large;
    color: whitesmoke;
    padding-left: 10px;
}

.top-navigation{
    font-family: 'Source Sans Pro', sans-serif; 
    font-size: 20px;
    color: snow;
    padding-top: 13px;
    display: flex;
   justify-content: flex-start;
}

a{
    cursor: pointer;
    margin-left: 15px;
    font-family: 'Source Sans Pro', sans-serif; 
    font-size: 20px;
    color: snow;
    text-decoration: none;
}

.incontent-link{
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 18px;
    color: #D95284;
}

.mid-line{
    height: 50px;
    padding-top: 15px;
    border-bottom: 1px solid #D95284;
}

#mid-title{
    font-family: 'Bree Serif', serif;
    font-size: x-large;
    color:#D95284;
    padding-left: 10px;
}

.mid-navigation{
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 18px;
    color: #D95284;
    padding-top: 6px;
}

.content-box{
    margin-top: 10px;
    padding-left: 15px;
    padding-right:20px;
    border-bottom: px solid #D95284;

}

#content-head{
    font-family: 'Bree Serif', serif;
    font-size: x-large;
    color:#D95284;
}

p{
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 18px;
    color: snow;
}

hr{
    margin-top: 30px;
    border: .5px solid #D95284;
}

.span-aside{
    font-style: oblique;
    font-size: 10px;
}